{{#each memes as |meme|}}
  {{log meme}}
  <div>
    <div class='meme' data-id="{{meme.id}}">

      <img class="image" src="{{meme.image}}">
      <div class = text-contain-top>
        <span class=text-top>{{meme.text_1}}</span>
      </div>
      <div class=text-contain-bottom>
      <span class=text-bottom>{{meme.text_2}}</span>
      </div>

    </div>

    <div class='meme'>
      <button data-id="{{meme.id}}" class='delete-meme btn btn-danger'>Delete meme</button>
      <button data-id="{{meme.id}}" class='update-meme btn btn-warning'>Update meme</button>
    </div>
  </div>
{{/each}}
